Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
config.guess
config.sub
config.log
config.status
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
pcre-unit-test.log
src/Makefile.in
src/Makefile
src/.deps
src/.libs
src/libguile-pcre.la
src/libguile_pcre_la-guile-pcre.lo
src/libguile_pcre_la-guile-pcre.o
